<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/output.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body class="bg-zinc-50">
    <nav
      id="navbar"
      class="fixed top-0 left-0 right-0 bg-indigo-700 h-16"
    ></nav>
    <div
      class="flex pt-16 h-screen max-w-7xl mx-auto justify-center items-center px-4"
    >
      <div class="hidden lg:flex w-2/4 justify-center items-center px-4">
        <img class="w-3/4" src="/images/signup.svg" alt="image" />
      </div>
      <form
        id="form"
        class="flex pt-16 flex-col gap-4 bg-zinc-200 p-4 rounded-lg text-lg shadow-lg w-full md:w-9/12 lg:w-2/4"
      >
        <div class="flex flex-col gap-2">
          <label class="font-bold" for="email-input"
            >Email <span class="text-red-500 text-zinc-900">*</span></label
          >
          <input
            id="email-input"
            type="text"
            name="email-input"
            autocomplete="off"
            class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label class="font-bold" for="password-input"
            >Contraseña <span class="text-red-500 text-zinc-900">*</span></label
          >
          <input
            id="password-input"
            type="password"
            name="password-input"
            autocomplete="off"
            placeholder="Ingresa tu contraseña"
            class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
          />
          <p id="error-text" class="text-sm text-red-600"></p>
        </div>
        <button
          id="form-btn"
          class="bg-indigo-700 py-2 px-4 rounded-lg font-bold text-white hover:bg-indigo-800 text-center transition ease-in-out disabled:opacity-40 disabled:cursor-not-allowed"
        >
          Iniciar sesión
        </button>
      </form>
    </div>
    <script src="/components/nav.js"></script>
  </body>
</html>
